.hidden {
  display: none;
}

.align {
  text-align: center;
}

.fixed {
  position: fixed;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 1em/1.5 "Khula", sans-serif;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  border: 2px solid #3a3a3a;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

figure {
  margin: 1em 40px;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

input,
textarea,
select {
  font: 1em/1.5 "Khula", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: .67em 0;
  letter-spacing: 3px;
}

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

h3,
.h-h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  color: #333333;
  font-family: "Muli", sans-serif;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
  font-weight: 900;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-style: italic;
}

p,
li,
dd,
dt {
  font-size: 1rem;
  font-weight: 300;
  color: #333333;
  line-height: 24px;
}

a {
  background-color: transparent;
  color: #333333;
  font-weight: 800;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  letter-spacing: .2rem;
  will-change: transform,opacity;
  -webkit-font-smoothing: antialiased !important;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
  border: none;
  color: #000;
}

.a--underline {
  position: relative;
}

.a--underline:hover, .a--underline:focus, .a--underline:active {
  cursor: pointer;
}

.a--underline:hover:after, .a--underline:focus:after, .a--underline:active:after {
  width: 100%;
}

.a--underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1.8px;
  background-color: #000;
  width: 0;
  -webkit-transition: width .4s;
  transition: width .4s;
}

th,
td {
  padding: 5px 10px;
}

th {
  color: #fff;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  width: 100%;
  vertical-align: middle;
}

picture img {
  height: auto;
  max-width: 100%;
}

div.rwd-media {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
}

div.rwd-media iframe,
div.rwd-media video {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1rem;
}

.menu {
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
}

.btn a {
  border: none;
}

.btn p {
  margin: 0;
}

.btn--principal {
  font-weight: 800;
  display: inline-block;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  margin-top: 25px;
  padding: 10px 18px 7px 18px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .15s ease 0s;
  transition: all .15s ease 0s;
}

.btn--principal p {
  color: #fff;
  letter-spacing: .1rem;
}

.btn--principal:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.btn--principal:hover p {
  color: #000;
  letter-spacing: .1rem;
}

.projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
}

.project {
  position: relative;
  margin: 45px 20px;
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  border: 1px solid #333333;
}

.project:hover {
  border: 1px solid #fff;
}

.project:hover h4 {
  border-bottom: none;
}

.project-img__wrapper {
  background-color: #fff;
}

.project-img {
  background-color: #fff;
}

.project-img a {
  border-bottom: none;
}

.project-img img {
  -webkit-filter: grayscale(100%) opacity(0.2);
          filter: grayscale(100%) opacity(0.2);
}

.project-img:hover img {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.project-info {
  position: absolute;
  padding: 30px;
  top: 10px;
}

.project-info:hover {
  background-color: #fff;
}

.project__title {
  margin-bottom: 1.125rem;
  background-color: transparent;
  color: #333333;
  font-weight: 600;
  display: inline-block;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  letter-spacing: .2rem;
  text-transform: uppercase;
  will-change: transform,opacity;
  -webkit-font-smoothing: antialiased !important;
}

.draw-border-red {
  border: 1px solid black;
  -webkit-box-shadow: inset 0 0 0 2px #000;
          box-shadow: inset 0 0 0 2px #000;
  color: #000;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-red::before, .draw-border-red::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-red::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.draw-border-red::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.draw-border-red:hover {
  color: #333131;
}

.draw-border-red:hover::before, .draw-border-red:hover::after {
  border-color: #333131;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-red:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-red:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-conversable {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-conversable::before, .draw-border-conversable::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-conversable::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-conversable::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-conversable:hover {
  color: #3a3a3a;
}

.draw-border-conversable:hover::before, .draw-border-conversable:hover::after {
  border-color: #3a3a3a;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-conversable:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-conversable:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-pink {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-pink::before, .draw-border-pink::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-pink::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-pink::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-pink:hover {
  color: #ee525f;
}

.draw-border-pink:hover::before, .draw-border-pink:hover::after {
  border-color: #ee525f;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-pink:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-pink:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-pink:hover h4 {
  color: #ee525f;
}

.draw-border-purple {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-purple::before, .draw-border-purple::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-purple::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-purple::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-purple:hover {
  color: #5c1834;
}

.draw-border-purple:hover::before, .draw-border-purple:hover::after {
  border-color: #5c1834;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-purple:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-purple:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-purple:hover h4 {
  color: #5c1834;
}

.draw-border-light-blue {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-light-blue::before, .draw-border-light-blue::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-light-blue::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-light-blue::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-light-blue:hover {
  color: #1dd4d4;
}

.draw-border-light-blue:hover::before, .draw-border-light-blue:hover::after {
  border-color: #1dd4d4;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-light-blue:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-light-blue:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-light-blue:hover h4 {
  color: #1dd4d4;
}

.draw-border-orange {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-orange::before, .draw-border-orange::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-orange::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-orange::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-orange:hover {
  color: #ff7e15;
}

.draw-border-orange:hover::before, .draw-border-orange:hover::after {
  border-color: #ff7e15;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-orange:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-orange:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-orange:hover h4 {
  color: #ff7e15;
}

.draw-border-blue {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-blue::before, .draw-border-blue::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-blue::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-blue::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-blue:hover {
  color: #2c2ff0;
}

.draw-border-blue:hover::before, .draw-border-blue:hover::after {
  border-color: #2c2ff0;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-blue:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-blue:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-blue:hover h4 {
  color: #2c2ff0;
}

.draw-border-yellow {
  -webkit-box-shadow: inset 0 0 0 0.25px #333333;
          box-shadow: inset 0 0 0 0.25px #333333;
  color: #333333;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border-yellow::before, .draw-border-yellow::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-yellow::before {
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
}

.draw-border-yellow::after {
  border-top-width: 0.25px;
  border-right-width: 0.25px;
}

.draw-border-yellow:hover {
  color: #f0cf2c;
}

.draw-border-yellow:hover::before, .draw-border-yellow:hover::after {
  border-color: #f0cf2c;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-yellow:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border-yellow:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.draw-border-yellow:hover h4 {
  color: #f0cf2c;
}

.skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
}

.skills__item-skill {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  text-align: center;
  padding: 1.125rem;
  position: relative;
}

@media only screen and (min-width: 650px) {
  .skills__item-skill {
    width: 30%;
  }
}

.skills__img img {
  width: 80px;
  margin: 2rem;
}

.skills--border:before {
  content: "";
  background: center no-repeat url(../img/border03.png);
  height: 22px;
  width: 250px;
  background-size: 100%;
  display: inline-block;
}

@media only screen and (min-width: 650px) {
  .skills--border:before {
    background: center no-repeat url(../img/border02.png);
    height: 331px;
    width: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.skills--border:after {
  content: "";
  background: center no-repeat url(../img/border04.png);
  height: 22px;
  width: 250px;
  background-size: 100%;
  display: inline-block;
}

@media only screen and (min-width: 650px) {
  .skills--border:after {
    content: "";
    background: center no-repeat url(../img/border.png);
    height: 331px;
    width: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.navigation {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9;
  width: 100%;
  right: 0;
  bottom: 0;
  background: #000;
  display: none;
}

.right-nav {
  float: right;
  width: 100%;
}

.inner-nav {
  list-style: none;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.inner-nav li {
  padding: 2.25rem;
}

.inner-nav a {
  color: #fff;
  border: none;
  font-size: 3rem;
  font-weight: 700;
}

.underline {
  position: relative;
}

.underline:hover, .underline:focus, .underline:active {
  cursor: pointer;
}

.underline:hover:after, .underline:focus:after, .underline:active:after {
  width: 100%;
}

.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  background-color: #fff;
  width: 0;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.single-header-cat {
  margin: 1rem 0 3rem 0;
  display: block;
  text-align: center;
}

.social-icons {
  display: block;
  padding: 0;
  margin: 20px 0;
}

.social-icons li {
  margin-left: .3125rem;
  margin-right: .3125rem;
  display: inline-block;
}

.social-icons a {
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  border: .0625rem solid #000;
  border-radius: 50%;
  line-height: 2.375rem;
  text-align: center;
  font-size: 1rem;
}

.social-icons a:hover {
  background-color: #000;
  color: #fff;
}

.img-wrapper {
  position: relative;
}

.svg-majo {
  width: 200px;
  position: absolute;
  margin-left: -200px;
}

@media only screen and (min-width: 425px) {
  .svg-majo {
    width: 300px;
    margin-left: -300px;
  }
}

@-webkit-keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.path-1 {
  -webkit-animation: hideshow 3s ease infinite;
          animation: hideshow 3s ease infinite;
}

.path-2 {
  -webkit-animation: hideshow 5s ease infinite;
          animation: hideshow 5s ease infinite;
}

.path-3 {
  -webkit-animation: hideshow 7s ease infinite;
          animation: hideshow 7s ease infinite;
}

.path-4 {
  -webkit-animation: hideshow 9s ease infinite;
          animation: hideshow 9s ease infinite;
}

.path-5 {
  -webkit-animation: hideshow 11s ease infinite;
          animation: hideshow 11s ease infinite;
}

.my-img {
  width: 200px;
  -webkit-filter: none;
          filter: none;
  opacity: none;
}

@media only screen and (min-width: 425px) {
  .my-img {
    width: 300px;
  }
}

.personal-info h1 {
  margin-top: 15px;
}

.personal-info__item {
  width: 100%;
  float: left;
  padding: 1.125rem;
}

@media only screen and (min-width: 768px) {
  .personal-info__item {
    width: 50%;
    padding: 2.25rem;
  }
}

.project-info__title {
  margin-top: 3.375rem;
}

.project-info__title h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  .project-info__title {
    margin-top: 8rem;
  }
  .project-info__title h1 {
    text-align: left;
    font-size: 3rem;
  }
}

.project-info__details {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
  position: relative;
}

.project-info__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  padding: 1.125rem;
}

.project-info__item a {
  margin: 1rem 1rem 0 0;
}

@media only screen and (min-width: 1000px) {
  .project-info__item {
    width: 30%;
  }
}

.project-info__item-tool {
  padding: 3.375rem 2.25rem;
  float: left;
}

@media only screen and (min-width: 1000px) {
  .project-info__item-tool {
    width: 35%;
    padding: 0 0 3.375rem 3.375rem;
  }
}

.project-info__tools:before {
  content: "";
  display: block;
  background: center no-repeat url(../img/tools02.png);
  width: 48px;
  height: 59px;
  background-size: 90%;
  margin-right: 10px;
  float: left;
}

.project__mobile-imgs {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.project__mobile-imgs img {
  padding: 1.125rem;
}

@media only screen and (min-width: 550px) {
  .project__mobile-imgs img {
    width: 60%;
    margin: 3.375rem;
  }
}

@media only screen and (min-width: 750px) {
  .project__mobile-imgs img {
    width: 30%;
    margin: 3.375rem;
  }
}

.project__mobile-img {
  padding: 2.25rem;
}

.project-imgs-modals img {
  margin: 0 auto;
}

.project-imgs-modals img:nth-child(2) {
  padding-top: 1rem;
}

@media only screen and (min-width: 850px) {
  .project-imgs-modals img {
    float: right;
    width: 45%;
    margin: 1rem;
  }
  .project-imgs-modals img:nth-child(2) {
    padding: 0;
  }
}

.project-imgs-modals--border {
  border: 1px solid #000;
}

.contact__img {
  width: 80px;
  margin: 1rem;
}

.contact__message-cont {
  padding: 1rem;
  position: relative;
  margin-top: 2rem;
}

.contact__message-cont a {
  font-size: 0.50rem;
}

@media only screen and (min-width: 450px) {
  .contact__message-cont {
    padding: 2rem;
  }
  .contact__message-cont a {
    font-size: 0.70rem;
  }
}

@media only screen and (min-width: 650px) {
  .contact__message-cont {
    padding: 3rem;
  }
  .contact__message-cont a {
    font-size: 0.80rem;
  }
}

.contact__message {
  background-color: #fff;
  width: 80%;
  text-align: center;
  padding: 2rem;
  margin-left: 11%;
}

.site-header {
  position: fixed;
  width: 98.8%;
  z-index: 1;
  top: 0rem;
  border-top: 2px solid #3a3a3a;
}

@media only screen and (min-width: 371px) {
  .site-header {
    width: 98.99%;
  }
}

@media only screen and (min-width: 495px) {
  .site-header {
    width: 99.2%;
  }
}

@media only screen and (min-width: 700px) {
  .site-header {
    width: 99.4%;
  }
}

@media only screen and (min-width: 900px) {
  .site-header {
    width: 99.6%;
  }
}

.site-nav {
  padding: .25em 1rem;
}

.logo {
  width: 45px;
  margin: 10px 2px;
  float: left;
  border: none;
}

.logo img {
  margin-top: 8px;
}

.menu-img {
  width: 39px;
  margin: 10px 2px;
  float: right;
}

.menu-img__close {
  width: 30px;
}

.l-content {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .l-content {
    width: 85%;
  }
}

@media only screen and (min-width: 800px) {
  .l-content {
    width: 65%;
  }
}

.l-group:before, .l-group:after {
  content: " ";
  display: table;
}

.l-group:after, .l-group:after {
  clear: both;
}

.group {
  margin: 0 auto;
  max-width: 1400px;
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after, .group:after {
  clear: both;
}

.bg-pattern {
  background-image: url(../img/dot_final.png);
  background-size: 12px;
  background-repeat: repeat;
}

.bg-red {
  background-color: #3a3a3a;
}

.bg-red__variant {
  background-color: #3a3a3a;
}

.bg-blue {
  background-color: #2c2ff0;
}

.bg-light-blue {
  background-color: #1dd4d4;
}

.bg-purple {
  background-color: #5c1834;
}

.bg-orange {
  background-color: #ff7e15;
}

.bg-pink {
  background-color: #ee525f;
}

.bg-yellow {
  background-color: #f0cf2c;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.86);
}

.section-wrap {
  padding: 4rem 1rem;
}

@media only screen and (min-width: 600px) {
  .section-wrap {
    padding: 4.5rem 2.25rem;
  }
}

.wrapper {
  background-color: #fff;
  position: relative;
}

.site-footer {
  height: 150px;
  background-color: #000;
}

.social-menu-footer {
  display: block;
  padding: 20px;
  text-align: center;
}

.social-menu-footer li {
  margin-left: .3125rem;
  margin-right: .3125rem;
  display: inline-block;
}

.social-menu-footer a {
  color: #fff;
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  border: .0625rem solid #fff;
  border-radius: 50%;
  line-height: 2.375rem;
  text-align: center;
  font-size: 1rem;
}

.social-menu-footer a:hover {
  background-color: #fff;
  color: #000;
}

.footer-info p {
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
}
