// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 3rem;
  margin: .67em 0;

  @include query(650px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3,
.h-h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  color: #333333;
  font-family: $font-family;
}

.h-h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;

  &:before,
  &:after {
    content: "\2014\2014";
    color: rgb(166, 53, 127);
    letter-spacing: -3px;
    letter-spacing: -.25rem;
    padding: 0 .8rem 0 .4rem;
  }
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
    color: inherit;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

// Borde sobre titulos
.h-bar:before {
  content: '';
  display: block;
  width: 3rem;
  height: .75rem;
}

.h-bar--red:before {
    background: rgb(240, 94, 116);
}
