.site-header {
}

.site-nav {
  padding: .25em 1rem;
}

.logo {
  width: 45px;
  margin: 20px 2px;
  float: left;
  border: none;
}

.menu-img {
  width: 39px;
  margin: 20px 2px;
  float: right;
}

.bg-imgs {
  background: #fff;
}