.site-header {
}

.site-nav {
  padding: .25em 1rem;
}

.logo {
  width: 45px;
  margin: 20px 2px;
  float: left;
  border: none;

  img {
      margin-top: 8px;
  }
}

.menu-img {
  width: 39px;
  margin: 20px 2px;
  float: right;
}

.bg-imgs {
  background: #fff;
}

.menu-img__close {
  width: 30px;
}