.l-content {
  margin: 0 auto;
  width: 100%;

  @include query(500px) {
    width: 85%;
  }

  @include query(800px) {
    width: 65%;
  }
}

.l-group {
  @include micro-clearfix;
}

.group {
  @include micro-clearfix;
  margin: 0 auto;
  max-width: 1200px;
}


.bg-pattern {
  background-image: url(../img/dot_final.png);
	background-size: 15px;
	background-repeat: repeat;
}

.section-wrap {
  padding: $space-large $space-base;

  @include query(600px) {
    padding: $space-large $space-medium;
  }
}

.wrapper {
  background-color: #fff;
  position: relative;
}
