.blog-post {
  img {
    margin-bottom: 1rem;
  }
}

.single-header-cat {
  margin: 1rem 0 3rem 0;
  display: block;
  text-align: center;
}

.social-icons {
  display: block;
  padding: 0;
  margin: 20px 0;

  li {
    margin-left: .3125rem;
    margin-right: .3125rem;
    display: inline-block;
  }

  a {
    border: none;
    width: 2.25rem;
    height: 2.25rem;
    display: inline-block;
    border: .0625rem solid #000;
    border-radius: 50%;
    line-height: 2.375rem;
    text-align: center;
    font-size: 1rem;
  }

  a:hover {
    background-color: #000;
    color: #fff;
  }

}

.projects {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  padding: 0;

}


.project {
  position: relative;
  margin: 45px 20px;
  max-width: 300px;
  flex: 1 auto;
  border: 1px solid #000;
}

.project-img__wrapper {
  background-color: #fff;
}


.project-img {
    background-color: #fff;
    img {
      filter: grayscale(0.2) opacity(0.2) saturate(8);
    }
 }

.project-img:hover {
  img {
      filter: grayscale(100%) opacity(0.1);
    }
}

.proyect-info {
  position: absolute;
  margin: 30px;

  h4 {
    margin-top: 10px;
  }
}

.my-img {
  width: 200px;
  filter: none;
  opacity: none;
} 

.personal-info {
   h1 {
     margin-top: 15px;
   }
}

.personal-info__item {
  width: 100%;
  float: left;
  padding: $space-small;

  @include query(768px) {
     width: 50%;
     padding: $space-medium;
  }
}

.align {
  text-align: center;
}