.navigation {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9;
  width: 100%;
  right: 0;
  bottom: 0;
  background: #000;
  display: none;
}

.inner-nav {
  margin-top: $space-xx-large;
  list-style: none;

  li {
    padding: $space-medium;
  }
  a {
    color: #fff;
    font-size: 3rem;
    font-weight: $font-family-base-bold-weight;
  }
}

.right-nav {
  float: right;
}